<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>blog</title>
		<meta name="author" content="Chris Duane">
		<meta name="description" content="blog">
		<meta name="keywords" content="blog">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="###">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "application.css" %>
	</head>
		<header>
			<a href="/"><div class="headerText">EAGLES BLOG</div></a>
			<div id="headerSubText"></div>
		</header>
		<h1>Edit post:</h1>
		<% if flash[:alert] %>
				<div class="alert"><%= flash[:alert] %></div>
			<% end %>
		<%= form_for @post, url: "/posts/" << @post.id.to_s, html: {method: :put} do |f| %>
			<%=f.label :post_text %><br />
			<%=f.text_field :post_text %>
			<%=f.submit :something %>
		<% end %>
		<% if @post[:updated_at] != @post[:created_at] %>
			<%= @post[:updated_at].localtime.strftime("Last edited at %B %d  %Y, %l:%M %p") %><br />
		<% end %>
		<a href=<%= "/delete/"<< @post.id.to_s %> > Delete this post</a>
		<div>
		<% @post.comments.each do |comment| %>
			<% @user = User.find_by(id: session[:user_id]) %>
			<%= comment[:comment_text] %> &mdash;
			<%= comment[:user_name] %><br />
			<%= comment[:created_at].localtime.strftime("%B %d  %Y, %l:%M %p") %><br />
				<% if !@user.nil? && @user.id == comment[:user_id] %>
					<a href="/comments/<%= comment[:id] %>/edit">Edit Comment</a><br />
				<% end %>
			<% end %>
		</div>
		<%= javascript_include_tag("application.js") %>
	</body>
</html>